<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>

  <body>
    <%- include("partials/header.ejs") %>
    <main>
        <div class="indexwrap">
            <div class="topwrap">
                <a class="tet" href="/pokemon/new"><button class="button">Add a Pokemon</button></a>
            </div>
            <div class="pokelist" >
            <% for(let i = 0; i < pokemon.length; i++){ %>
                <fieldset class="fieldIdx">
                    <legend><%= pokemon[i].name %></legend> 
                    <img class="sprite" src="<%=pokemon[i].img%>">
                    <h6>test</h6>
                    </img>
                </fieldset>
                <% } %>
            </div>
        </div>
        </div>
        <%- include("./partials/footer.ejs") %>
      </main>
  </body>
</html>